/* (C) Copyright Hewlett-Packard Company, L.P. All Rights Reserved. */
@import "./main";

@font-face {
  font-family: HPEMetricRegular;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-Regular.woff');
}

@font-face {
  font-family: HPEMetricRegularItalic;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-RegularItalic.woff');
}

@font-face {
  font-family: HPEMetricBold;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-Bold.woff');
}

@font-face {
  font-family: HPEMetricBoldItalic;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-BoldItalic.woff');
}

@font-face {
  font-family: HPEMetricBlack;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-Black.woff');
}

@font-face {
  font-family: HPEMetricBlackItalic;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-BlackItalic.woff');
}

@font-face {
  font-family: HPEMetricLight;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-Light.woff');
}

@font-face {
  font-family: HPEMetricLightItalic;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-LightItalic.woff');
}

@font-face {
  font-family: HPEMetricMedium;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-Medium.woff');
}

@font-face {
  font-family: HPEMetricMediumItalic;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-MediumItalic.woff');
}

@font-face {
  font-family: HPEMetricSemibold;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-Semibold.woff');
}

@font-face {
  font-family: HPEMetricSemiboldItalic;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-SemiboldItalic.woff');
}

@font-face {
  font-family: HPEMetricThin;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-Thin.woff');
}

@font-face {
  font-family: HPEMetricThinItalic;
  src: url('./font/MetricHPE_Web/MetricHPE-Web-ThinItalic.woff');
}

$fonts-regular: HPEMetricRegular;
$layout-min-width: 1280px;

//color
$color-white: #FFFFFF;
$color-black: #333333;
$color-green: #01A982;
$color-red: #FF454F;
$color-deepgrey: #CCCCCC;
$color-grey: #F6F6F6;
$color-lightgrey: #FAFAFA;
$color-yellow: #FFD042;

//text color
$color-primary: #333333;
$color-secondary: #767676;
$color-link: #2AD2C9;
$color-hover: #219AC8;

a, div, span, td, input, textarea, select {
  font-family: $fonts-regular;
  font-size: 16px;
}

#container {
  min-width: $layout-min-width;
}

body {
  color: $color-white;
  font-family: $fonts-regular;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000000;
  background-color: $color-white;
  overflow-y: hidden;
}

a {
  color: $color-white;

  &:hover, &:active, &:focus {
    color: $color-green;
  }
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: $color-white;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.whiteBackground {
  background: $color-white
}

form.form-horizontal div > span.smallFont {
  font-size: 13px;

  span {
    font-size: 13px;
  }
}

form.form-horizontal div > span.warnColor {
  span {
    color: #FF454F;
  }
}

.bigTitleFontBold {
  font-size: 19px;
  font-weight: bold;
}

.normalTitleFont {
  font-size: 16px;
}

.cusMargin17 {
  margin-bottom: 17px;
}

.cusMargin30 {
  margin-bottom: 30px;
}

.cusMargin8 {
  margin-bottom: 8px;
}

.cusMargin15 {
  margin-bottom: 15px;
}

.cusMargin19 {
  margin-bottom: 19px;
}

.navMargin {

  margin-top: 10px;
  margin-bottom: 5px;
}

.formMargin {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.navPath {
  color: $color-deepgrey;
}

.navCurrent {
  color: $color-green;
}

.titlesColor {
  color: $color-black;
}

.title {
  margin-bottom: 15px;
}

.colFull {
  padding-right: 0px !important;
  padding-left: 0px !important;
  .container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

.colFullLeft {
  padding-left: 0px !important;
}

.colFullRight {
  padding-Right: 0px !important;
}

.rhr {
  height: 2px;
  color: $color-deepgrey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cusButton {
  width: 100px;
  height: 40px;
  font-family: $fonts-regular;
  font-size: 12px;
  color: $color-white;
  background: $color-green;
}

.cusButton:hover {
  font-family: $fonts-regular;
  font-size: 12px;
  color: $color-white;
  background: #11C59B;
}

.cusButton:focus {
  font-family: $fonts-regular;
  font-size: 12px;
  background: #059573;
}

.cusButton:active {
  font-family: $fonts-regular;
  font-size: 12px;
  color: $color-white;
  background-color: #059573;
}

div.modal > div.modal-dialog {
  color: #222;
}

div.modal > div.moda-dialog ul > li {
  display: block;
}

div.modal-dialog {
  width: 601px;
  height: 655px;
}

div.modal-content {
  padding-left: 48px;
  padding-right: 48px;
}

div.modal-content > div {
  padding-left: 0px;
  padding-right: 0px;
}

div.modal-header {
  padding-top: 48px;
  height: 108px;
}

div.modal-footer {
  height: 171px;
  padding-top: 6px;
  text-align: left;
}

div.modal-footer .btn + .btn {
  margin-left: 30px;
}

ul.box-content {
  padding-left: 0;
  margin-bottom: 23px;
}

ul.box-content li > ul {
  padding-left: 15px;
}

ul.box-content > li {
  margin: 1px 0px 20px 0px;
}

ul li {
  display: block;
}

div > button {
  color: white !important;
  background-color: $color-green;
  min-width: 100px;
  margin-right: 30px;
}

div > button > span {
  color: white !important;
  font-size: 18px !important;

}

div > button:hover {
  color: white !important;
  background-color: #019875
}

div > button:active {
  color: white !important;
}

div > button:focus {
  color: white !important;
}

.noMarginBottom {
  margin-bottom: 0px;
}


label.has-error {
  color: $color-red !important;
}

span.has-error {
  color: $color-red !important;
  font-size: 16px;
}

input.has-error {
  border-color: $color-red !important;
}



.breadcrumbCus {
  border-radius: 0px;
  border-style: none;
  margin-right: 0px;
  text-transform: none;
  padding-left:45px;
  padding-right:45px;
}

.breadcrumbCus li > a {
  color: #666666;
  font-family: $fonts-regular;
  font-size: 16px;
}

.breadcrumb > li + li:before {
  font-size: 16px;
  content: "\/";
  padding: 0px 5px;
}

.breadcrumbCus li.active > span {
  color: $color-green;
}

.subItem-field span {
  margin-left: 10px;
  margin-top: 2px;
  color: #666666;
  font-family: HPEMetricMedium;
  font-size: 16px;
  height: 15px;
}

.subItem-value {
  margin-left: 10px;
  margin-top: 2px;
  color: $color-black;
  font-family: HPEMetricMedium;
  font-size: 16px;
  height: 15px;
}

.service-item {
  margin: 10px 0 10px 0;
}

.service-item span {
  font-family: HPEMetricMedium;
  font-size: 18px;
}

div.modal-body::after {
  border-top-style: none;
}

div.modal-footer button {
  /* margin-right:24px; */
  border: 1px solid #ccc;
  color: $color-black !important;
  background-color: $color-white;
  min-width: 100px;
  height: 40px;
  margin-right: 1px;
}

div.modal-footer button:hover {
  /* margin-right:24px; */
  border: 1px solid #019875;
  color: #019875 !important;
  background-color: $color-white;
  min-width: 100px;

  span {
    font-family: HPEMetricMedium;
    font-size: 18px;
    color: #019875 !important;
  }
}

div.modal-footer button span {
  font-family: HPEMetricMedium;
  font-size: 18px;
  color: $color-black !important;
}

.apply-wating span {
  margin-top: 2px;
  margin-left: 2px;
  font-family: HPEMetricMedium;
  font-size: 18px;
  color: $color-black;
}

div.apply-warning > span {
  font-family: HPEMetricRegular;
  font-size: 16px;
  line-height:24px;
  text-align: left;
  color: #019875;
}

div.apply-warning {
  min-height: 20px;
  margin-bottom: 25px;
}

h4.modal-title span {
  line-height: 0;
  color: $color-black;
  font-family: HPEMetricMedium;
  font-size: 22px;
  height: 30px;
}

.pageBorderOuterLeft {
  margin-left: 15px;
}

.pageBorderInnerLeft {
  margin-left: -5px;
}

.input-cus {
  background: url(../images/Error_16px.png) no-repeat 99% center;
}

.input-ok {
  background: url(../images/Ok_16px_1.png) no-repeat 99% center;
}

.manatory {
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  font-weight: 900;
  color: $color-red;
  margin-right: 8px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

#navigatorContainer{
  border-right:2px solid $color-deepgrey;
  //overflow: auto;
}

.collapseArrow {
  fontSize: 14px;
  lineHeight: 36px;
  color: $color-deepgrey;
  cursor: pointer;
  width: 20px;
}

.collapseSection {
  padding: 10px 0px 10px 0px
}

span.titleBig > span {
  font-family: HPEMetricMedium;
  font-size: 22px;
  line-height: 36px;
}

label.inputTitle{
  font-size: 18px;
}
