.panel-custom-panel {
     margin-bottom: 20px;
     background-color: #fff;
     border: 0px transparent;
     border-radius: 0px
}
.label-custom-label {
     color: #01A982;
     font: 20px arial, sans-serif;
}
.label-custom-sign-minus {
    background-color: #01A982;
    font: 18px arial, sans-serif, fold;
    color: #ffffff;
    padding: 0px 8.5px 0px 9px;
}
.label-custom-sign-plus {
     background-color: #01A982;
     font: 18px arial, sans-serif, fold;
     color: #ffffff;
     padding: 0px 6px 0px 6px;
}
